:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-colof: #ffffff;
  --primary-backgroud-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  background-color: var(--primary-backgroud-color);
  color: var(--primary-title-color);
}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.primary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  border-radius: 4px;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -----HEADER------ */

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-second {
  color: #000000;
}
.logo-second:hover,
.logo-second:focus {
  color: var(--accent-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
  padding-left: 0px;
}

.header-list .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-title-color);
}

.header-list .current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
}

.contacts:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* ----Hero-----*/

.hero-section {
  display: flex;

  background-color: #2f303a;
  padding: 200px 0;
  background-image: url(../images/Img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* .hero-container {
  flex-grow: 1;
  max-width: 1600px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.hero-title {
  margin: 0 auto;
  max-width: 695px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--secondary-text-colof);
}

.hero-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--secondary-text-colof);
  background-color: var(--accent-color);
}

/* -------Benefits---------- */

.benefits-section {
  padding-bottom: 0;
}

.benefits-container {
  display: flex;
  flex-wrap: wrap;
}

.benefits-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}

.benefits-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* -----Work------- */

.work-list {
  display: flex;
  margin-top: 50px;
  margin-left: -30px;
}

.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

/* ------Team------- */

.team-bgc {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;

  background: var(--primary-backgroud-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--primary-title-color);
}

.team-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--primary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  fill: rgba(175, 177, 184, 1);
}

/* ------Footer------- */

.footer {
  padding: 60px 0px 60px;

  background-color: var(--third-background-color);
}

.footer-container {
}

.footer-logo {
  color: var(--secondary-text-colof);
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

.address {
  font-style: normal;
}

.footer-list {
  margin-top: 20px;
}

.footer-item:nth-child(n + 2) {
  margin-top: 9px;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-colof);
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.footer-right {
  width: 206px;
  height: 80px;
}

.footer-right-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-icon {
  fill: #ffffff;
}

/* --------Portfolio-------- */

.menu-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: -8px;
}

.menu-item {
  margin-left: 8px;
}

.menu-btn {
  padding: 6px 22px;
  font-weight: 500;
  border: none;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--primary-title-color);
  background-color: var(--secondary-background-color);
}

.menu-btn:hover,
.menu-btn:focus {
  color: var(--secondary-text-colof);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.portfolio-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
